:root {
	--ck-gallery-transition: 0.5s ease;
}

ck-container, ck-container-item, ck-gallery, ck-placeholder {
	display: block;
}

.ck [ck-gallery-current-item] {
	/* Add a top padding that is as high as the ui elements. */
	padding-top: var(--ck-ui-component-min-height);
}

.ck [ck-gallery-current-item] {
	display: flex;
	overflow: hidden;
}

.ck [ck-gallery-current-item] > * {
	flex-shrink: 0;
	width: 100%;
	transition: transform 0.5s ease;
}

.ck .ck-gallery-controls {
	display: flex;
	align-items: center;
}
