.ck-tooltip.ck-text-limit-show {
	visibility: visible;
	opacity: 1;
	display: inline-block;
}

.ck.ck-tooltip.ck-text-limit {
	transform: translateY(var(--ck-tooltip-arrow-size));
	bottom: inherit;
}

.ck-tooltip.ck-text-limit .ck-tooltip__text {
	left: 0;
}

:root {
	--ck-color-text-limit-exceeded: #a80b07;
}

.ck-text-limit-exceeded {
	--ck-color-tooltip-background: var(--ck-color-text-limit-exceeded);
	font-size: 1em;
	font-weight: bold;
}

.ck .ck-editor__nested-editable.ck-text-field-limit-exceeded {
	border-color: var(--ck-color-text-limit-exceeded);
}

.ck .ck-widget.ck-widget_selected.ck-required-validation-error, .ck .ck-widget.ck-widget_selected.ck-required-validation-error:hover  {
	outline-color: red;
}

.ck-required-validation-error {
	outline: 2px solid red !important;
}
